.session{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
  
}

.fondo-se{
    width: 100%;
    height: 100vh;
}

.img-se{
    height: 100%;
    width: 55%;
}

.previous{
    height: 50px;
}

.return{
    display: flex;
    align-items: center;
    margin-right: 450px;
}

.vol{
    padding: 0px 0px 0px 18px;
    font-size: 25px;
}

.cp{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.email{
    padding: 40px;
}

.password{
    padding: 40px;
}

.input { 
    display: flex;
    padding: 10px; /* Ajusta el padding para que no ocupe tanto espacio interno */
    border-radius: 7px;
    text-decoration: none;
    width: 300px; /* Cambia este valor para que el input se vea más largo */
    max-width: 100%; /* Asegúrate de que no exceda el contenedor */
    box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
}




.ep{
    font-size: 20px;
    padding: 20px 0px;
}

.class{
    display: flex;
    justify-content: space-around;
}

.ci{
    color: black;
    background: #4192fb;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    padding: 15px;
    max-width: 300px; 
    border-radius: 15px;
   
}

.ci:hover{
    background-color: #1f201c; /* Cambia el color de fondo de manera suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.space{
    padding: 0px 50px;
}


.sp{
    padding: 40px 0px 0px 0px;
}

