.Nav{
    background-color: #3980c0;
    display: flex;
    margin: 20px 150px 0px 150px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.welcome-message{
    color: white;
}

.links{
    display: flex;
}

.seccion{
    display: flex;
}

.a{
    padding: 0px 130px 0px 235px;
    font-size: 20px;
}

.sesion_b{
    color: white;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
    max-width: 300px; 
    border-radius: 15px;
}

.i{
    font-size: 20px;
}

.sesion_b, .logout_b {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  .user-options {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .welcome-message {
    font-weight: bold;
  }

a{
    text-decoration: none;
    color: white;
}

